// ----------- Import scss files ---------------

@import "vars";

@import "fonts";

@import "optimize";

@import "global";

// -----------Base styles ----------------

:root {
  font-size: 0.75em; // 12px
}

@media (min-width: 800px) {
  :root {
    font-size: 0.875em; // 14px
  }
}

@media (min-width: 1150px) {
  :root {
    font-size: 1em; // 16px
  }
}

// Header

.header {
  position: absolute;
  right: 0;
  left: 0;
  padding-top: 56px;

  &__inner {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__menu {
    display: flex;
  }

  &__menu-list {
    display: flex;
    gap: 0 43px;
  }

  &__menu-link,
  &__submenu-link {
    font-size: 14px;
    text-transform: uppercase;
    color: $color-white;
  }

  &__menu-link {
    transition: all 0.3s;
  }

  &__menu-link:hover {
    color: $color-accent;
  }

  // Language selection menu
  &__local {
    position: relative;
    transition: all 0.5s;
  }

  &__local > li {
    padding: 0 15px 0 0;
  }

  .header__local--active .header__submenu {
    display: block;
  }

  &__submenu {
    position: absolute;
    top: 20px;
    left: 0;
    display: none;
    padding: 7px 8px;
    color: $color-white;
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
    background-color: $color-dark-ruby;
  }

  &__submenu-item {
    padding-top: 10px;
  }

  &__submenu-item > a:hover {
    color: $color-black;
  }

  .arrow {
    position: absolute;
    top: 9px;
    right: 0;
    width: 0;
    height: 0;
    border-top: 4px solid $color-white;
    border-right: 4px solid transparent;
    border-left: 4px solid transparent;
  }

  .header__local--active .arrow {
    transform: rotate(-180deg);
  }
}

// Promo
.promo {
  padding-bottom: 70px;
  background-repeat: no-repeat;
  background-position: top center;
  background-size: cover;

  &__inner {
    display: flex;
    justify-content: space-between;
    padding-top: 225px;
  }

  &__item {
    width: 415px;
  }

  &__item-imgebox {
    display: flex;
    justify-content: space-between;
  }

  &__product-img {
    max-width: 316px;
    height: 453px;
  }

  &__label-img {
    width: 156px;
    height: 60px;
    margin-top: 40px;
  }

  &__item-text {
    padding-top: 100px;
    text-align: center;
  }

  &__item-title {
    @include montserrat-700;
    font-size: 41px;
    line-height: 51px;
    display: block;
    width: 320px;
    margin: 0 auto;
    padding: 12px 30px;
    color: $color-white;
    background: linear-gradient(157.22deg, #a63f43 14.79%, #92232c 85.92%);
  }

  &__item-description {
    @include montserrat-500;
    font-size: 32px;
    line-height: 45px;
    padding-top: 25px;
    color: $color-white;
  }

  &__peculiarities {
    display: flex;
    gap: 0 27px;
    align-items: center;
    justify-content: center;
    width: 340px;
    margin: 0 auto;
    margin-top: 40px;
  }

  &__peculiarities-item {
    @include montserrat-400;
    font-size: 12px;
    line-height: 17px;
    width: 120px;
    padding: 7px 9px;
    text-align: left;
    border: 2px solid $color-dark-ruby;
    border: none;
    border-left: 3px solid $color-dark-ruby;
    background: linear-gradient(0deg, #c4c4c4 0%, #ffffff 100%);
  }

  &__decore-img {
    position: absolute;
    right: 0;
    left: 0;
    margin: 0 auto;
  }
}

// Promo /end

// About zinc

.about-zinc {
  background-repeat: no-repeat;
  background-position: left top;
  background-size: cover;

  &__inner {
    display: flex;
    justify-content: space-around;
    padding: 250px 0;
  }

  &__item {
    max-width: 500px;
  }

  &__title {
    width: 280px;
    margin-left: 10px;
  }

  &__text {
    @include montserrat-400;
    font-size: 16px;
    line-height: 22px;
  }

  &--bold {
    @include montserrat-700;
    color: $color-ruby;
  }
}

// About zinc /end

// Deficit zinc
.deficit {
  padding: 50px 0;
  background-repeat: no-repeat;
  background-position: top center;
  background-size: cover;

  &__title {
    margin-top: 100px;
    text-align: center;
  }

  &__items {
    display: grid;
    margin-top: 65px;

    grid-template-columns: repeat(4, 1fr);
    grid-column-gap: 10px;
    grid-row-gap: 1em;
  }

  &__item {
    position: relative;
    overflow: hidden;
    width: 252px;
    height: 57px;
    padding: 7px 5px;
    padding-left: 12px;
    border-left: 3px solid $color-dark-ruby;
    background: linear-gradient(0deg, #c4c4c4 0%, #ffffff 100%);
  }

  &__item-img {
    position: absolute;
    top: 50%;
    left: 12px;
    width: 40px;
    height: 40px;
    transform: translateY(-50%);
  }

  &__item-text {
    @include montserrat-400;
    font-size: 16px;
    line-height: 20px;
    display: block;
    width: 165px;
    padding: 5px 5px 5px 50px;
  }
}

// Deficit zinc /end

// Qualitys
.qualitys {
  padding-bottom: 20px;

  &__title {
    margin-top: 100px;
    text-align: center;
  }

  &__inner {
    display: flex;
    justify-content: space-between;
    max-width: 1016px;
    margin: 0 auto;
    margin-top: 65px;
  }

  &__list {
    max-width: 479px;
  }

  &__item {
    @include montserrat-400;
    font-size: 16px;
    line-height: 22px;
    position: relative;
    padding: 8px;
    padding-left: 30px;
    color: $color-default;
  }

  &__item:before {
    position: absolute;
    top: 12px;

    // transform: translateY(-50%);
    left: 0;
    width: 18px;
    height: 18px;
    content: "";
    background-image: url("../images/icons/small_tick.svg");
  }
}

// Qualitys /end

// Food
.food {
  position: relative;
  margin-top: 80px;
  padding-bottom: 1100px;
  border-radius: 100px 100px 0 0;
  background-color: $color-background;

  &__title {
    padding-top: 113px;
    text-align: center;
  }

  &__inner {
    position: relative;
  }

  &__item {
    @include montserrat-400;
    font-size: 16px;
    line-height: 22px;
    position: absolute;
    border: none;
    border-radius: 4px;
  }

  &__item-img {
    position: absolute;
    width: 130px;
    height: auto;
  }

  &__box {
    top: 135px;
    right: 0;
    left: 0;
    margin: 0 auto;
    text-align: center;
    background-color: transparent;
  }

  &__box-img {
    width: 100%;
    max-width: 510px;
    height: auto;
  }

  .food__item-left {
    top: 65px;
    left: 0;
    background-color: $color-white;
    box-shadow: inset 0 0 0 2px rgb(255, 255, 255),
      0.2em 0.2em 1em rgba(0, 0, 0, 0.3);
  }

  .food__item-right {
    top: 65px;
    right: 0;
    background-color: $color-white;
    box-shadow: inset 0 0 0 2px rgb(255, 255, 255),
      0.2em 0.2em 1em rgba(0, 0, 0, 0.3);
  }

  &__item-text {
    display: inline-block;
    overflow: hidden;
    width: 200px;
    height: 70px;
    border-radius: 4px;
    background-color: $color-white;
  }

  // Left food elements
  .food__item-left .food__item-text {
    display: inline-block;
    padding: 15px 10px;
    text-align: right;
  }

  .food__item-left.food__item > img,
  .food__item-right.food__item > img {
    top: 50%;
    transform: translateY(-50%);
  }

  .food__item--1 {
    left: 180px;
  }

  .food__item--1 > img {
    left: -70px;
  }

  .food__item--2 {
    top: 170px;
    left: 105px;
  }

  #food__img-bottom {
    top: 66px;
    left: -30px;
  }

  .food__item--3 {
    top: 286px;
    left: 50px;
  }

  .food__item--3 > img {
    top: 2px;
    left: -30px;
  }

  .food__item--4 {
    top: 405px;
    left: 50px;
  }

  .food__item--4 > img {
    top: -2px;
    left: -30px;
  }

  .food__item--5 {
    top: 522px;
    left: 105px;
  }

  .food__item--5 > img {
    top: 50%;
    left: -30px;
  }

  .food__item--6 {
    top: 641px;
    left: 180px;
  }

  .food__item--6 > img {
    top: 50%;
    left: -30px;
  }

  // Right food elements

  .food__item-right .food__item-text {
    display: inline-block;
    padding: 15px 10px;
    text-align: left;
  }

  .food__item--7 {
    right: 180px;
  }

  .food__item--7 > img {
    right: -60px;
  }

  .food__item--8 {
    top: 170px;
    right: 105px;
  }

  .food__item--8 > img {
    top: -10px;
    right: -50px;
  }

  .food__item--9 {
    top: 286px;
    right: 50px;
  }

  .food__item--9 > img {
    top: 2px;
    right: -30px;
  }

  .food__item--10 {
    top: 405px;
    right: 50px;
  }

  .food__item--10 > img {
    top: 50%;
    right: -60px;
  }

  .food__item--11 {
    top: 522px;
    right: 105px;
  }

  .food__item--11 > img {
    top: 50%;
    right: -30px;
  }

  .food__item--12 {
    top: 641px;
    right: 180px;
  }

  .food__item--12 > img {
    top: 50%;
    right: -30px;
  }

  &__description {
    position: absolute;
    right: 0;
    bottom: 180px;
    left: 0;
    text-align: center;
  }

  &__description-text {
    display: inline-block;
    max-width: 830px;
    padding: 30px 60px;
    color: $color-white;
    border-radius: 75.5px;
    background-color: rgba(157, 37, 47, 0.7);
  }

  &__description--bold {
    @include montserrat-700;
  }

  // Button
  &__button {
    position: absolute;
    right: 0;
    bottom: 90px;
    left: 0;
    overflow: hidden;
    margin: 0 auto;
    transition: all 0.3s;
    text-align: center;
    border-radius: 4px;
  }

  &__button-link {
    font-size: 12px;
    line-height: 15px;
    padding: 12px 45px;
    color: $color-white;
    border-radius: 4px;
    background: linear-gradient(157.22deg, #a63f43 14.79%, #92232c 85.92%);
  }
}

// Food /end

// Immunozinc
.immunozinc {
  position: relative;
  padding-bottom: 139px;
  background-repeat: no-repeat;
  background-position: center;

  &__header {
    padding-top: 70px;
    text-align: center;
  }

  &__subtitle {
    padding-top: 36px;
  }

  &__inner {
    position: relative;
    top: 87px;
    max-width: 960px;
    height: 496px;
    margin: 0 auto;
    border-radius: 30px;
    background-color: $color-background;
  }

  &__wrapper {
    position: absolute;
    top: -60px;
    right: 0;
    left: 0;
    display: flex;
    background-color: transparent;
    background-color: rgba(0, 0, 0, 0);
  }

  &__img {
    width: 430px;
    height: 514px;

    object-fit: cover;
  }

  &__textbox {
    max-width: 445px;
    padding-top: 120px;
  }

  &__textbox-title {
    font-size: 26px;
    line-height: 36px;
  }

  &__textbox--bold {
    @include montserrat-800;
  }

  &__list {
    padding-top: 30px;
  }

  &__list-item {
    line-height: 22px;
    position: relative;
    padding-top: 15px;
    padding-left: 45px;
  }

  &__list-item:before {
    position: absolute;
    top: 12px;
    left: 0;
    width: 27px;
    height: 27px;
    content: "";
    background-image: url("../images/icons/middle_tick.svg");
  }

  &__button {
    font-size: 12px;
    line-height: 15px;
    width: 168px;
    height: 40px;
    margin-top: 45px;
    color: $color-white;
    border: none;
    border-radius: 4px;
    background: linear-gradient(157.22deg, #a63f43 14.79%, #92232c 85.92%);
  }
}

// Modal window
.popup {
  position: fixed;
  top: 0;
  left: 0;
  visibility: hidden;
  overflow-x: hidden;
  overflow-y: auto;
  width: 100%;
  height: 100%;
  transition: all 0.8s ease 0s;
  opacity: 0;
  background-color: rgba(0, 0, 0, 0.8);

  &__body {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100%;
    padding: 30px 10px;
  }

  &__content {
    @include montserrat-400;
    font-size: 18px;
    position: relative;
    max-width: 1160px;
    padding: 30px 50px;
    color: $color-default;
    background-color: $color-white;
  }

  &__close {
    font-size: 20px;
    position: absolute;
    top: 10px;
    right: 10px;
    text-decoration: none;
    color: $color-default;
  }

  &__title {
    @include impact-400;
    font-size: 36px;
    line-height: 44px;
    padding-left: 30px;
    text-transform: uppercase;
  }

  &__subtitle {
    @include impact-400;
    font-size: 24px;
    line-height: 36px;
    padding-top: 40px;
    padding-bottom: 30px;
    padding-left: 30px;
    text-transform: uppercase;
  }

  &__text {
    line-height: 22px;
  }

  &__area {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }

  &__bold {
    @include montserrat-700;
  }
}

.popup:target {
  visibility: visible;
  opacity: 1;
}

.popup-link {
  padding: 10px;
  text-align: center;
}

// Immunozinc /end

// Advantages
.advantages {
  &__header {
    padding-top: 150px;
    text-align: center;
  }

  &__subtitle {
    display: inline-block;
    width: 443px;
    padding-top: 40px;
    text-align: center;
  }

  &__inner {
    position: relative;
    display: flex;
    justify-content: space-between;
    padding-top: 60px;
  }

  &__item {
    width: 100%;
    max-width: 500px;
  }

  &__list {
    padding-top: 70px;
  }

  &__list-item {
    line-height: 22px;
    max-width: 340px;
  }

  &__list-item::after {
    display: block;
    clear: both;
    content: "";
  }

  &__list-img {
    float: left;
    width: 48px;
    height: 48px;
    margin-right: 20px;
  }

  &__list-text {
    overflow: auto;
    margin-top: 0;
  }

  &__list-item {
    padding-top: 20px;
  }

  &__img {
    width: 100%;
    max-width: 498px;
    height: auto;
  }

  &__img-decore {
    position: absolute;
    right: 0;
    bottom: 0;
    width: 257px;
    height: 257px;
  }

  &__bold {
    @include montserrat-700;
  }

  // Advantage botom block
  &__items {
    display: flex;

    // gap: 0 20px;
    justify-content: space-between;
  }

  &__items-item {
    position: relative;
    width: 275px;
  }

  &__items-item:before {
    position: absolute;
    top: 0;
    left: 4px;
    width: 27px;
    height: 27px;
    content: "";
    background-image: url("../images/icons/middle_tick.svg");
  }

  &__items-title {
    @include montserrat-700;
    display: block;
    overflow: hidden;
    height: 80px;
    padding: 40px 5px 5px 5px;
  }

  &__items-text {
    padding: 5px;
  }
}

// Advantages /end

// --------------------- Адаптив сайту ------------------
@import "media";
