// ------------------ Імпорт scss файлів ---------------

@import "vars";

@import "fonts";

@import "optimize";

@import "global";

// ----------------------- Базові стилі ----------------

:root {
  font-size: 0.75em; // 12px
}

@media (min-width: 800px) {
  :root {
    font-size: 0.875em; // 14px
  }
}

@media (min-width: 1150px) {
  :root {
    font-size: 1em; // 16px
  }
}

// Header

.header {
  position: absolute;
  right: 0;
  left: 0;
  padding-top: 56px;

  &__inner {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__menu {
    display: flex;
  }

  &__menu-list {
    display: flex;
    gap: 0 43px;
  }

  &__menu-link,
  &__submenu-link {
    font-size: 14px;
    text-transform: uppercase;
    color: $color-white;
  }

  &__menu-link {
    transition: all 0.3s;
  }

  &__menu-link:hover {
    color: $color-accent;
  }

  // Language selection menu
  &__local {
    position: relative;
    transition: all 0.5s;
  }

  &__local > li {
    padding: 0 15px 0 0;
  }

  .header__local--active .header__submenu {
    display: block;
  }

  &__submenu {
    position: absolute;
    top: 20px;
    left: 0;
    display: none;
    padding: 7px 8px;
    color: $color-white;
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
    background-color: $color-dark-ruby;
  }

  &__submenu-item {
    padding-top: 10px;
  }

  &__submenu-item > a:hover {
    color: $color-black;
  }

  .arrow {
    position: absolute;
    top: 9px;
    right: 0;
    width: 0;
    height: 0;
    border-top: 4px solid $color-white;
    border-right: 4px solid transparent;
    border-left: 4px solid transparent;
  }

  .header__local--active .arrow {
    transform: rotate(-180deg);
  }
}

// Promo
.promo {
  padding-bottom: 70px;
  background-repeat: no-repeat;
  background-position: top center;
  background-size: cover;

  &__inner {
    display: flex;
    justify-content: space-between;
    padding-top: 225px;
  }

  &__item {
    width: 415px;
  }

  &__item-imgebox {
    display: flex;
    justify-content: space-between;
  }

  &__product-img {
    max-width: 316px;
    height: 453px;
  }

  &__label-img {
    width: 156px;
    height: 60px;
    margin-top: 40px;
  }

  &__item-text {
    padding-top: 100px;
    text-align: center;
  }

  &__item-title {
    @include montserrat-700;
    font-size: 41px;
    line-height: 51px;
    display: block;
    width: 320px;
    margin: 0 auto;
    padding: 12px 30px;
    color: $color-white;
    background: linear-gradient(157.22deg, #a63f43 14.79%, #92232c 85.92%);
  }

  &__item-description {
    @include montserrat-500;
    font-size: 32px;
    line-height: 45px;
    padding-top: 25px;
    color: $color-white;
  }

  &__peculiarities {
    display: flex;
    gap: 0 27px;
    align-items: center;
    justify-content: center;
    width: 340px;
    margin: 0 auto;
    margin-top: 40px;
  }

  &__peculiarities-item {
    @include montserrat-400;
    font-size: 12px;
    line-height: 17px;
    width: 120px;
    padding: 7px 9px;
    text-align: left;
    border: 2px solid $color-dark-ruby;
    border: none;
    border-left: 3px solid $color-dark-ruby;
    background: linear-gradient(0deg, #c4c4c4 0%, #ffffff 100%);
  }

  &__decore-img {
    position: absolute;
    right: 0;
    left: 0;
    margin: 0 auto;
  }
}

// Promo /end

// About zinc

.about-zinc {
  background-repeat: no-repeat;
  background-position: left top;
  background-size: cover;

  &__inner {
    display: flex;
    justify-content: space-around;
    padding: 250px 0;
  }

  &__item {
    max-width: 500px;
  }

  &__title {
    width: 280px;
    margin-left: 10px;
  }

  &__text {
    @include montserrat-400;
    font-size: 16px;
    line-height: 22px;
  }

  &--bold {
    @include montserrat-700;
    color: $color-ruby;
  }
}

// About zinc /end

// Deficit zinc
.deficit {
  padding: 50px 0;
  background-repeat: no-repeat;
  background-position: top center;
  background-size: cover;

  &__title {
    margin-top: 100px;
    text-align: center;
  }

  &__items {
    margin-top: 65px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-column-gap: 10px;
    grid-row-gap: 1em;
  }

  &__item {
    width: 252px;
    height: 57px;
    overflow: hidden;
    padding: 7px 5px;
    padding-left: 12px;
    border-left: 3px solid $color-dark-ruby;
    background: linear-gradient(0deg, #c4c4c4 0%, #ffffff 100%);
    position: relative;
  }

  &__item-img {
    width: 40px;
    height: 40px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 12px;
  }

  &__item-text {
    @include montserrat-400;
    font-size: 16px;
    line-height: 20px;
    display: block;
    padding: 5px 5px 5px 50px;
    width: 165px;
  }
}
// Deficit zinc /end

// Qualitys
.qualitys {
  padding-bottom: 20px;
  &__title {
    text-align: center;
    margin-top: 100px;
  }

  &__inner {
    margin: 0 auto;
    margin-top: 65px;
    display: flex;
    justify-content: space-between;
    max-width: 1016px;
  }

  &__list {
    max-width: 479px;
  }

  &__item {
    @include montserrat-400;
    font-size: 16px;
    line-height: 22px;
    color: $color-default;
    padding: 8px;
    padding-left: 30px;
    position: relative;
  }

  &__item:before {
    position: absolute;
    content: "";
    background-image: url("../images/icons/small_tick.svg");
    top: 12px;
    // transform: translateY(-50%);
    left: 0;
    width: 18px;
    height: 18px;
  }
}
// Qualitys /end

// Food
.food {
  background-color: $color-background;
  border-radius: 100px 100px 0px 0px;
  margin-top: 80px;
  padding-bottom: 1100px;
  position: relative;

  &__title {
    padding-top: 113px;
    text-align: center;
  }

  &__inner {
    position: relative;
  }

  &__item {
    position: absolute;
    @include montserrat-400;
    font-size: 16px;
    line-height: 22px;
    border: none;
    border-radius: 4px;
  }

  &__item-img {
    width: 130px;
    height: auto;
    position: absolute;
  }

  &__box {
    top: 135px;
    left: 0;
    right: 0;
    margin: 0 auto;
    text-align:center;
    background-color: transparent;
  }

  &__box-img {
    max-width: 510px;
    width: 100%;
    height: auto;
  }

  .food__item-left {
    top: 65px;
    left: 0;
    background-color: $color-white;
    box-shadow:
       inset 
             0 0  0 2px rgb(255,255,255),
             0.2em 0.2em 1em rgba(0,0,0,0.3);
  }

  .food__item-right {
    top: 65px;
    right: 0;
    background-color: $color-white;
    box-shadow:
       inset 
             0 0  0 2px rgb(255,255,255),
             0.2em 0.2em 1em rgba(0,0,0,0.3);
  }

  &__item-text {
    background-color: $color-white;
    height: 70px;
    width: 200px;
    overflow: hidden;
    border-radius: 4px;
    display: inline-block;
  }

  // Left food elements
.food__item-left .food__item-text {
  text-align: right;
  padding: 15px 10px;
  display: inline-block;
}

.food__item-left.food__item>img,
.food__item-right.food__item>img {
  top: 50%;
  transform: translateY(-50%);
}

.food__item--1 {
  left: 180px;
}

.food__item--1>img {
  left: -70px;
} 

.food__item--2 {
  top: 170px;
  left: 105px;
}

#food__img-bottom {
  left: -30px;
  top: 66px;
}

.food__item--3 {
  top: 286px;
  left: 50px;
}

.food__item--3>img {
  left: -30px;
  top: 2px;
}

.food__item--4 {
  top: 405px;
  left: 50px;
}

.food__item--4>img {
  left: -30px;
  top: -2px;
}

.food__item--5 {
  top: 522px;
  left: 105px;
}

.food__item--5>img {
  left: -30px;
  top: 50%;
}

.food__item--6 {
  top: 641px;
  left: 180px;
}

.food__item--6>img {
  left: -30px;
  top: 50%;
}

// Right food elements

.food__item-right .food__item-text {
  text-align: left;
  padding: 15px 10px;
  display: inline-block;
}

.food__item--7 {
  right: 180px;
}

.food__item--7>img {
  right: -60px;
} 

.food__item--8 {
  top: 170px;
  right: 105px;
}

.food__item--8>img {
  right: -50px;
  top: -10px;
} 

.food__item--9 {
  top: 286px;
  right: 50px;
}

.food__item--9>img {
  right: -30px;
  top: 2px;
}

.food__item--10 {
  top: 405px;
  right: 50px;
}

.food__item--10>img {
  right: -60px;
  top: 50%;
}

.food__item--11 {
  top: 522px;
  right: 105px;
}

.food__item--11>img {
  right: -30px;
  top: 50%;
}

.food__item--12 {
  top: 641px;
  right: 180px;
}

.food__item--12>img {
  right: -30px;
  top: 50%;
}
 &__description {
  position: absolute;
  bottom: 180px;
  text-align: center;
  left: 0;
  right: 0;
 }

 &__description-text {
  background-color: rgba(157, 37, 47, 0.7);
  max-width: 830px;
  border-radius: 75.5px;
  padding: 30px 60px;
  display: inline-block;
  color: $color-white;
 }

 &__description--bold {
  @include montserrat-700;
 }

// Button 
 &__button {
  width: 165px;
  height: 39px;
  position: absolute;
  left: 0;
  right: 0;
  margin: 0 auto;
  bottom: 90px;
  overflow: hidden;
  transition: all 0.3s;
  border: none;
  border-radius: 4px;
 }

 &__button-link {
  color: $color-white;
  font-size: 12px;
  padding: 12px 45px;
  line-height: 15px;
  border-radius: 4px;
  background: linear-gradient(157.22deg, #A63F43 14.79%, #92232C 85.92%);
 }

 &__button:hover {
  box-shadow: 0.3em 0.3em 1em rgba(0,0,0,0.5);
 }
}
// Food /end

// --------------------- Адаптив сайту ------------------
@import "media";
